*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    background-color: #0a0c1b;
    font-family: 'Inter', sans-serif;
    color: #fff;
    font-size: 15px;
}
.main{
    margin-top: 4%;
    margin-left: 12%;
    width: 80%;
    height: 100hv;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-block {
    width: 100%;
    max-width: 1440px;
    height: 600px;
    background-color: hsl(244, 38%, 16%);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 10px;
}

.left_main-block{
    width: 50%;
    height: 100%;
    padding: 90px 95px;
    display: flex;
    flex-direction: column;
}
.left_main-block .title {
    line-height: 60px;
    font-weight: 700;
    margin-bottom: 25px;
    color: white;
}
.title span{
    color:hsl(277, 64%, 61%);
}
.left_main-block .text{
    font-weight: 400;
    color: #aba9bf;
    line-height: 30px;
    margin-bottom: 10%;
}

.option {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.option h2 {
    font-weight: 700;
    line-height: 30px;
    color: white;
}
.option h3 {
    font-weight: 400;
    line-height: 25px;
    color: #aba9bf;
    text-transform: uppercase;
    padding-top: 5px;
    font-family: 'Lexend Deca', sans-serif;
}

.right_main-block {
    position: relative;
    width: 60%;
    height: 100%;
    background-image: url('images/image-header-desktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.right_main-block::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(169, 91, 212, 0.6);
    top:0;
    left: 0;
}

@media(max-width: 1140px){
    .main{
        height: auto;
        padding: 3rem;
    }
    .main-block{
        width: 100%;
        height: auto;
        flex-direction: column-reverse;
    }
    .left_main-block{
        width: 100%;
        padding: 3rem;
    }
    .right_main-block{
        width: 100%;
        height: 245px;
    }
}

@media(max-width:600px){
    .main{
        text-align: center;
        padding: 1.5rem;
    }
    .left_main-block{
        padding: 1.5rem;
    }
    .left_main-block .title{
        font-size: 28px;
        line-height: 35px;
        margin-bottom: 20px;
    }
    .text{
        margin-bottom: 15px;
        font-size: 16px;
        line-height: 25px;
    }
    .option{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin-bottom: 10px;
    }
    .option h2{
        font-size: 24px;
        line-height: 30px;
    }
    .option h3{
        font-size: 14px;
        line-height: 16px;
    }
}
